/* start global values */

/* start global variables */
:root{
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Dark-Gray: hsl(0, 0%, 55%);
    --Very-Dark-Gray: hsl(0, 0%, 41%);
    --padding:50px;
}

/* end global variables */


*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-size: 15px;
    font-family: 'Josefin Sans','Alata', sans-serif;
}

@media (max-width: 991px){
    body{
        font-size: 12px;
    }
}

.container{
    padding: 0px 15px;
    margin: 0 auto;
}


/* small devics media */
@media (min-width: 768px){
    .container{
        width: 750px;
    }
}

/* mediam devics media */
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}


/* lage devics media */
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}



/* end global values */

/* start header */
header{
    padding: var(--padding) 0;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 5;
}



header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .container .logo{
    font-size: 2.5em;
    font-weight: 400;
    color: var(--White);
}

header .container ul{
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
    transition: .5s;
}



@media (max-width: 767px){
    header .container .ull{
        display: none;
    }
    .active{
        display: flex;
        position: absolute;
        flex-direction: column;
        width: 100%;
        font-size: 2em;
        left: 0;
        bottom: -380px;
        transition: .5s;
        z-index: 5;
    }
}

header .container ul li a{
    font-size: 1.3em;
    font-weight: 400;
    display: block;
    text-transform: capitalize;
    color: var(--White);
    transition: .5s;
    padding: 5px;
}

header .container ul li a:hover{
    
    border-bottom: 1px solid var(--White);
}

@media (max-width: 767px){
    header .container ul li a{
        padding-left: 10px;
        transition: .5s;
        margin-bottom: 20px;
        transition: .5s;
    }
    header .container ul li a:hover{
        padding-left: 25px;
        border: none;
    }
}


header .container i{
    display: none;
    cursor: pointer;
}

@media (max-width: 767px){
    header .container i{
        display: block;
        transition: .5s;
    }
}


/* end header */

/* start landing page */
.landing{
    background: url(images/desktop/image-hero.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.landing::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    background: rgb(0 0 0/40%)
}


.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    background: rgb(0 0 0);
    z-index: 3;
}


.landing .container{
    width: 80%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    
}

.landing .container .text{
    padding: 20px;
    border: 1px solid var(--White);
    width: 50%;
}

@media (max-width:767px){
    .landing .container .text{
        width: 100%;
    }
}

.landing .text h1{
    color: var(--White);
    font-size: 4em;
    text-transform: uppercase;
    font-weight: 300;
}

@media (max-width:767px){
    .landing .container .text h1{
        font-size: 2em;
    }
}

/* end landing page */

/* start about */
.about{
    padding: var(--padding) 0;
}

.about .container{
    display: flex;
    position: relative;
}

@media (max-width: 767px){
    .about .container{
        flex-direction: column;
    }
}

.about .container img{
    width: 60%;
}

@media (max-width: 767px){
    .about .container img{
        width: 100%;
    }
}

.about .container .text{
    background: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 50%;
    left: 60%;
    bottom: 0;
    transform: translateX(-20%);
}

@media (max-width: 767px){
    .about .container .text{
        position: relative;
        width: 100%;
        left: 0%;
        bottom: -20px;
        transform: translateX(0%);
    }
}

.about .container .text h2{
    font-size: 3em;
    font-weight: 400;
    text-transform: capitalize;
}

.about .container .text p{
    line-height: 1.6;
    margin-top: 10px;
}

/* end about */

/* start our creation */
.creation{
    padding: var(--padding) 0 70px;
}

.creation .container{
    position: relative;
}

.creation .container .title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
}

@media (max-width: 767px){
    .creation .container .title{
        flex-direction: column;
    }
}

.creation .container .title h2{
    font-size: 3em;
    text-transform: uppercase;
}

@media (max-width: 767px){
    .creation .container .title h2{
        text-align: center;
    }
}

.creation .container .title a{
    display: block;
    padding: 10px 50px;
    border: 1px solid;
    font-size: 1.4em;
    text-transform: uppercase;
    transition: .5s;
}

@media (max-width: 767px){
    .creation .container .title a{
        position: absolute; 
        bottom: -55px;
    }
}

.creation .container .title a:hover{
    background: var(--Black);
    color: var(--White);
}

.creation .container .projects-holder{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 20px;
}

.creation .container .projects-holder .project{
    position: relative;
    transition: .5s;
    cursor: pointer;
}

.creation .container .projects-holder .project:hover{
    filter: grayscale(.6);
    transform: scale(1.02);
}

.creation .container .projects-holder .project::before{
    content: attr(data-text);
    position: absolute;
    bottom: 30px;
    font-size: 1.8em;
    text-transform: uppercase;
    line-height: 1.5;
    color: var(--White);
    left: 50%;
    transform: translateX(-80%);
}

.creation .container .projects-holder .project img{
    width: 100%;
    height: 100%;
}

/* end our creation */

/* start footer */
footer{
    padding: var(--padding) 0;
    background: var(--Black);
}

footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 767px){
    footer .container{
        flex-direction: column;
    }
}

footer .container .side-links{
    text-transform: uppercase;
}

footer .container .side-links .logo{
    font-size: 2.5em;
    font-weight: 400;
    margin-bottom: 25px;
    color: var(--White);
}

footer .container .side-links ul{
    display: flex;
    justify-content: space-between;
}

footer .container .side-links ul li a{
    font-size: 1.3em;
    font-weight: 400;
    display: block;
    text-transform: capitalize;
    color: var(--White);
    transition: .5s;
    padding: 5px;
}

footer .container .side-links ul li a:hover{
    
    border-bottom: 1px solid var(--White);
}


footer .container .social-links{
    color: var(--White);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@media (max-width: 767px){
    footer .container .social-links{
        margin-top: 20px;
        align-items: flex-start;
    }
}

footer .container .social-links .links{
    margin-bottom: 25px;
}

footer .container .social-links .links i{
    margin-right: 10px;
    font-size: 1.6em;
    transition: .5s;
    
}

footer .container .social-links .links i:hover{
    border-bottom: 1px solid var(--White);
    padding: 5px 0;
}



/* end footer */